{% extends 'base.html' %}

{% block content %}
<h2>Expenses Index</h2>
<ul class="list-group">
    <li class="list-group-itme">Bought beer</li>
    <li class="list-group-itme">Bought beer</li>
    <li class="list-group-itme">Bought beer</li>
    <li class="list-group-itme">Bought beer</li>
    <li class="list-group-itme">Bought beer</li>
    <li class="list-group-itme">Bought beer</li>
    <li class="list-group-itme">Bought beer</li>
    <li class="list-group-itme">Bought beer</li>
</ul>
{% endblock %}